{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Entry</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/add_entry_modal.css' %}">
</head>
<body>
    <!-- Modal -->
    <div id="manual-entry-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Add New Entry</h2>
            <form id="manual-entry-form">
                <div class="form-group mb-3">
                    <label for="entry_dateNE">Entry Date:</label>
                    <input type="datetime-local" id="entry_dateNE" name="entry_dateNE" class="form-control" required>
                </div>
                
                <div class="form-group mb-3">
                    <label for="exit_dateNE">Exit Date:</label>
                    <input type="datetime-local" id="exit_dateNE" name="exit_dateNE" class="form-control" required>
                </div>
                
                <div class="form-group mb-3">
                    <label for="currencyNE">Currency:</label>
                    <input type="text" id="currencyNE" name="currencyNE" class="form-control" required>
                </div>
                
                <div class="form-group mb-3">
                    <label for="depositNE">Deposit:</label>
                    <input type="number" step="any" id="depositNE" name="depositNE" class="form-control" required>
                </div>

                <div class="form-group mb-3">
                    <label for="feeNE">Exchange Fee (%):</label>
                    <input type="number" step="0.0001" id="feeNE" name="feeNE" class="form-control" required>
                </div>

                <div class="form-group mb-3">
                    <label for="positionNE">Position Size:</label>
                    <input type="number" step="any" id="positionNE" name="positionNE" class="form-control" required>
                </div>

                <div class="form-group mb-3">
                    <label for="pairNE">Currency Pair:</label>
                    <input type="text" id="pairNE" name="pairNE" class="form-control" required list="pairs">
                    <datalist id="pairs">
                        {% for pair in pairs %}
                            <option value="{{ pair.name }}">
                        {% endfor %}
                    </datalist>
                </div>

                <div class="form-group mb-3">
                    <label for="trade_typeNE">Trade Type:</label>
                    <select id="trade_typeNE" name="trade_typeNE" class="form-select">
                        <option value="long">Long</option>
                        <option value="short">Short</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="entryNE">Entry Price:</label>
                    <input type="number" step="0.0001" id="entryNE" name="entryNE" class="form-control" required>
                </div>

                <div class="form-group mb-3">
                    <label for="stop_lossNE">Stop Loss:</label>
                    <input type="number" step="0.0001" id="stop_lossNE" name="stop_lossNE" class="form-control" required>
                </div>

                <div class="form-group mb-3">
                    <label for="target_priceNE">Exit Price:</label>
                    <input type="number" step="any" id="target_priceNE" name="target_priceNE" class="form-control" required>
                </div>

                <div class="form-group mb-3">
                    <label for="winNE">Win:</label>
                    <select id="winNE" name="winNE" class="form-select">
                        <option value="YES">YES</option>
                        <option value="NO">NO</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="pnlNE">PnL:</label>
                    <input type="number" step="any" id="pnlNE" name="pnlNE" class="form-control" required>
                </div>

                <div class="button-row d-flex justify-content-between mt-4">
                    <button type="button" id="save-entry-buttonNE" class="btn btn-primary">Add</button>
                    <button type="button" id="cancel-entry-buttonNE" class="btn btn-secondary">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="{% static 'js/addNewEntry.js' %}"></script>
</body>
</html>
