{% load static %}

<form method="POST" id="calculatorForm">
    {% csrf_token %}

    <label for="currency">Waluta:</label>
    <select id="currency" name="currency">
        {% for currency in currencies %}
        <option value="{{ currency.code }}">{{ currency.code }}</option>
        {% endfor %}
    </select>

    <label for="deposit">Depozyt główny:</label>
    <input type="number" step="any" id="deposit" name="deposit" required>

    <label for="risk">Ryzyko na pozycję:</label>
    <input type="number" step="any" id="risk" name="risk" required>

    <label for="risk_type">Jednostka ryzyka:</label>
    <select id="risk_type" name="risk_type">
        <option value="percent">%</option>
        <option value="currency">Waluta ({{ currencies.0.code }})</option> 
    </select>
    <span id="currency_label_risk">{{ currencies.0.code }}</span> <!-- Waluta przy ryzyku -->

    <label for="position">Wysokość pojedynczej pozycji:</label>
    <input type="number" step="any" id="position" name="position" required>

    <label for="position_type">Jednostka pozycji:</label>
    <select id="position_type" name="position_type">
        <option value="percent">%</option>
        <option value="currency">Waluta ({{ currencies.0.code }})</option>
    </select>
    <span id="currency_label_position">{{ currencies.0.code }}</span> <!-- Waluta przy pozycji -->

    <label for="pair">Para walutowa:</label>
    <input type="text" id="pair" name="pair" required list="pairs">
    <datalist id="pairs">
        {% for pair in pairs %}
        <option value="{{ pair.name }}">
        {% endfor %}
    </datalist>

    <label for="trade_type">Typ pozycji:</label>
    <select id="trade_type" name="trade_type" required>
        <option value="long">Long</option>
        <option value="short">Short</option>
    </select>

    <label for="entry">Cena wejścia:</label>
    <input type="number" step="0.0001" id="entry" name="entry" required>

    <label for="stop_loss">Cena stop loss:</label>
    <input type="number" step="any" id="stop_loss" name="stop_loss" required>

    <label for="fee">Opłata giełdowa (%):</label>
    <input type="number" step="0.0001" id="fee" name="fee" required> <!-- Poprawione id -->

    <button type="submit">Oblicz</button>
    <button type="button" id="reset_button">Rozpocznij nowy projekt</button>
</form>

<!-- Wyniki -->
<div id="results" style="display: none;"> <!-- Ukrywanie wyników na starcie -->
    <p id="leverage"></p> <!-- Wyświetlanie koniecznego lewara -->

    <!-- Tabela dla różnych maksymalnych lewarów -->
    <table id="results_table">
        <thead>
            <tr>
                <th>Maksymalny lewar</th>
                <th>Konieczna wysokość pojedynczej pozycji (waluta) dla zachowania wysokości ryzyka</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>100x</td>
                <td id="position_100x"></td>
            </tr>
            <tr>
                <td>75x</td>
                <td id="position_75x"></td>
            </tr>
            <tr>
                <td>50x</td>
                <td id="position_50x"></td>
            </tr>
            <tr>
                <td>25x</td>
                <td id="position_25x"></td>
            </tr>
            <tr>
                <td>20x</td>
                <td id="position_20x"></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Tabela dla różnych targetów -->
<table id="targets_table" style="display: none;">
    <thead>
        <tr>
            <th>Target</th>
            <th>Cena wyjścia</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1R</td>
            <td id="target1R"></td>
        </tr>
        <tr>
            <td>2R</td>
            <td id="target2R"></td>
        </tr>
        <tr>
            <td>3R</td>
            <td id="target3R"></td>
        </tr>
    </tbody>
</table>

<div id="error_message" style="color: red;"></div>

<script src="{% static 'js/dashboard.js' %}"></script>
