{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dziennik transakcji</title>
</head>
<body>

<h1>Dziennik transakcji</h1>

<table>
    <thead>
        <tr>
            <th>Data dodania</th>
            <th>Waluta</th>
            <th>Depozyt</th>
            <th>Ryzyko [%]</th>
            <th>Wysokość wejścia</th>
            <th>Lewar</th>
            <th>Para walutowa</th>
            <th>Typ transakcji</th>
            <th>Cena wejścia</th>
            <th>Stop Loss</th>
            <th>Wybrany target</th>
            <th>Win</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in journal_entries %}
        <tr>
            <td>{{ entry.created_at }}</td>
            <td>{{ entry.currency }}</td>
            <td>{{ entry.deposit|floatformat:2 }}</td> <!-- 2 miejsca po przecinku dla depozytu -->
            <td>{{ entry.risk|floatformat:2 }}</td> <!-- 2 miejsca po przecinku dla ryzyka -->
            <td>{{ entry.calculated_position|floatformat:2 }}</td> <!-- 2 miejsca po przecinku dla pozycji -->
            <td>{{ entry.calculated_leverage|floatformat:0 }}</td> <!-- Brak miejsc po przecinku dla lewaru (wartość całkowita) -->
            <td>{{ entry.pair }}</td>
            <td>{{ entry.trade_type }}</td>
            <td>{{ entry.entry_price|floatformat:4 }}</td> <!-- 4 miejsca po przecinku dla ceny wejścia -->
            <td>{{ entry.stop_loss|floatformat:4 }}</td> <!-- 4 miejsca po przecinku dla ceny stop loss -->
            <td>{{ entry.target_choice }}</td>
            
            <td>
                <form method="POST" action="{% url 'update_win' entry.id %}">
                    {% csrf_token %}
                    <select name="win_choice" class="win-choice-select" data-entry-id="{{ entry.id }}">
                        <option value="YES" {% if entry.win == 'YES' %}selected{% endif %}>YES</option>
                        <option value="NO" {% if entry.win == 'NO' %}selected{% endif %}>NO</option>
                    </select>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Załączamy nasz skrypt JavaScript -->
<script type="module" src="{% static 'js/journal_data.js' %}"></script>

</body>
</html>
