{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trade Journal</title>
    <a href="{% url 'dashboard' %}">Back to Dashboard</a>
</head>
<body>

<h1>Trade Journal</h1>
<button id="create-entry-button">Add an Entry</button>

<!-- Filter Form -->
<form method="GET" action="{% url 'journal' %}">
    <label for="pair_filter">Currency Pair:</label>
    <select name="pair_filter" id="pair_filter">
        <option value="">All</option>
        {% for pair in pairs %}
            <option value="{{ pair.name }}" {% if request.GET.pair_filter == pair.name %}selected{% endif %}>{{ pair.name }}</option>
        {% endfor %}
    </select>

    <label for="trade_type_filter">Trade Type:</label>
    <select name="trade_type_filter" id="trade_type_filter">
        <option value="">All</option>
        <option value="long" {% if request.GET.trade_type_filter == 'long' %}selected{% endif %}>Long</option>
        <option value="short" {% if request.GET.trade_type_filter == 'short' %}selected{% endif %}>Short</option>
    </select>

    <label for="target_filter">Chosen Target:</label>
    <select name="target_filter" id="target_filter">
        <option value="">All</option>
        <option value="1R" {% if request.GET.target_filter == '1R' %}selected{% endif %}>1R</option>
        <option value="2R" {% if request.GET.target_filter == '2R' %}selected{% endif %}>2R</option>
        <option value="3R" {% if request.GET.target_filter == '3R' %}selected{% endif %}>3R</option>
    </select>

    <label for="win_filter">Win:</label>
    <select name="win_filter" id="win_filter">
        <option value="">All</option>
        <option value="YES" {% if request.GET.win_filter == 'YES' %}selected{% endif %}>YES</option>
        <option value="NO" {% if request.GET.win_filter == 'NO' %}selected{% endif %}>NO</option>
    </select>

    <button type="submit">Filter</button>
</form>

<!-- Journal Entries Table -->
<table>
    <thead>
        <tr>
            <th>Entry Date</th>
            <th>Exit Date</th>
            <th>Currency</th>
            <th>Strategy</th>
            <th>Deposit</th>
            <th>Risk</th>
            <th>Position Size</th>
            <th>Leverage</th>
            <th>Currency Pair</th>
            <th>Trade Type</th>
            <th>Entry Price</th>
            <th>Stop Loss</th>
            <th>Risk Reward Ratio</th>
            <th>Exit Price</th>
            <th>Win</th>
            <th>PnL</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in journal_entries %}
        <tr id="entry-row-{{ entry.id }}">
            <td>
                <input type="datetime-local" class="entry-date-input" 
                       value="{{ entry.entry_date|date:'Y-m-d\TH:i:s' }}" 
                       data-entry-id="{{ entry.id }}" />
            </td>
            <td>
                <input type="datetime-local" class="exit-date-input" 
                       value="{{ entry.exit_date|date:'Y-m-d\TH:i:s' }}" 
                       data-entry-id="{{ entry.id }}" />
            </td>
            <td>{{ entry.currency }}</td>
            <td>
                <select name="strategy" class="strategy-select" data-entry-id="{{ entry.id }}">
                    <option value="">No Strategy</option>
                    {% for strategy in strategies %}
                        <option value="{{ strategy.id }}" {% if entry.strategy and entry.strategy.id == strategy.id %}selected{% endif %}>
                            {{ strategy.name }}
                        </option>
                    {% endfor %}
                </select>
            </td>
            <td>{{ entry.deposit|floatformat:2 }}</td>
            <td>{{ entry.calculated_risk_amount|floatformat:2 }}</td>
            <td>{{ entry.calculated_position|floatformat:2 }}</td>
            <td>{{ entry.calculated_leverage|floatformat:0 }}</td>
            <td>{{ entry.pair }}</td>
            <td>{{ entry.trade_type }}</td>
            <td>{{ entry.entry_price|floatformat:4 }}</td>
            <td>{{ entry.stop_loss|floatformat:4 }}</td>
            <td>{{ entry.target_choice }}</td>
            <td>{{ entry.target_price|floatformat:4 }}</td> <!-- Display Exit Price -->

            <td>
                <form method="POST" action="{% url 'update_win' entry.id %}">
                    {% csrf_token %}
                    <select name="win_choice" class="win-choice-select" data-entry-id="{{ entry.id }}">
                        <option value="" {% if entry.win == '' or entry.win is None %}selected{% endif %}>---Choose---</option>
                        <option value="YES" {% if entry.win == 'YES' %}selected{% endif %}>YES</option>
                        <option value="NO" {% if entry.win == 'NO' %}selected{% endif %}>NO</option>
                    </select>
                </form>
            </td>
            <td class="pnl-cell" 
            data-entry-id="{{ entry.id }}" 
            data-risk-amount="{{ entry.calculated_risk_amount|floatformat:2 }}" 
            data-win-amount="{{ entry.calculated_win_amount|floatformat:2 }}">
            {{ entry.pnl|floatformat:2 }}
            </td>           

            <td>
                <button class="delete-entry-button" data-entry-id="{{ entry.id }}">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="module" src="{% static 'js/journal_data.js' %}"></script>
<!-- Odwołanie do pliku addNewEntry.js -->
<script type="module" src="{% static 'js/addNewEntry.js' %}"></script>

</body>
</html>
