<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WinRate Reports</title>
    {% load static %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> <!-- Ładowanie Plotly -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}"> <!-- Dodaj link do pliku CSS -->
</head>
<body>
    <a href="{% url 'dashboard' %}">
        <button type="button">Back to Dashboard</button>
    </a>
    <h1>WinRate Reports</h1>
    <h3>Performance Calendar</h3>

    <!-- Nawigacja między miesiącami -->
    <div class="calendar-navigation">
        <a href="{{ previous_month_url }}" class="nav-arrow">&lt;</a>  <!-- Strzałka do poprzedniego miesiąca -->
        <span class="current-month">{{ current_month }}</span>  <!-- Nazwa miesiąca -->
        <a href="{{ next_month_url }}" class="nav-arrow">&gt;</a>  <!-- Strzałka do następnego miesiąca -->
    </div>
    
    <div class="calendar-container">
        <!-- Puste komórki przed dniami z danymi -->
        {% for _ in empty_days_before %}
        <div class="calendar-day empty"></div>
        {% endfor %}
    
        <!-- Dni z danymi -->
        {% for day in daily_data %}
        <div class="calendar-day {% if day.pnl >= 0 %}positive-pnl{% elif day.pnl is not none %}negative-pnl{% else %}empty{% endif %}">
            <div class="date">{{ day.date }}</div>
            {% if day.pnl is not none %}
                <div class="pnl">PnL: {{ day.pnl }}</div>
                <div class="winrate">Winrate: {{ day.winrate }}%</div>
                <div class="total-trades">Trades: {{ day.total_trades }}</div>
            {% else %}
                <div class="no-trades">No Trades</div>
            {% endif %}
        </div>
        {% endfor %}
    
        <!-- Puste komórki po dniach z danymi -->
        {% for _ in empty_days_after %}
        <div class="calendar-day empty"></div>
        {% endfor %}
    </div>

    <!-- Total Report -->
    <div>
        <h3>WinRate Report - Total</h3>
        <p>Total number of trades with "YES" or "NO" result: {{ total_report.total_trades }}</p>
        <p>Number of trades with "YES": {{ total_report.yes_count }}</p>
        <p>Number of trades with "NO": {{ total_report.no_count }}</p>
        <p>WinRate: {{ total_report.win_rate }}%</p>
        <p>Average Risk-Reward Ratio (RRR): {{ total_report.avg_rrr }}</p>
        <p>Minimum required WinRate: {{ total_report.min_win_rate }}%</p>
        <p>Is profitable: {{ total_report.is_profitable }}</p>

        <!-- Wykres kołowy dla raportu total -->
        <h4>WinRate Pie Chart</h4>
        <div id="pie-chart-total">
            {{ pie_chart_total_html|safe }}
        </div>

        <div>
            <h3>Daily PnL for the Last 30 Days</h3>
            <div id="bar-chart-daily">
                {{ bar_chart_pnl_html|safe }}
            </div>
        </div>
    </div>

    <!-- Monthly Report -->
    <div>
        <h3>WinRate Report - Last 30 Days</h3>
        <p>Total number of trades with "YES" or "NO" result: {{ monthly_report.total_trades }}</p>
        <p>Number of trades with "YES": {{ monthly_report.yes_count }}</p>
        <p>Number of trades with "NO": {{ monthly_report.no_count }}</p>
        <p>WinRate: {{ monthly_report.win_rate }}%</p>
        <p>Average Risk-Reward Ratio (RRR): {{ monthly_report.avg_rrr }}</p>
        <p>Minimum required WinRate: {{ monthly_report.min_win_rate }}%</p>
        <p>Is profitable: {{ monthly_report.is_profitable }}</p>

        <h4>WinRate Pie Chart (Last 30 Days)</h4>
        <div id="pie-chart-monthly">
            {{ pie_chart_monthly_html|safe }}
        </div>
    </div>

    <!-- Daily Report -->
    <div>
        <h3>WinRate Report - Today</h3>
        <p>Total number of trades with "YES" or "NO" result: {{ daily_report.total_trades }}</p>
        <p>Number of trades with "YES": {{ daily_report.yes_count }}</p>
        <p>Number of trades with "NO": {{ daily_report.no_count }}</p>
        <p>WinRate: {{ daily_report.win_rate }}%</p>
        <p>Average Risk-Reward Ratio (RRR): {{ daily_report.avg_rrr }}</p>
        <p>Minimum required WinRate: {{ daily_report.min_win_rate }}%</p>
        <p>Is profitable: {{ daily_report.is_profitable }}</p>

        <h4>WinRate Pie Chart (Today)</h4>
        <div id="pie-chart-daily">
            {{ pie_chart_daily_html|safe }}
        </div>
    </div>

 <!-- Formularz do wyboru zakresu dat -->
 <form method="GET" action="{% url 'reports' %}">
    <label for="start_date">Start Date:</label>
    <input type="date" id="start_date" name="start_date" value="{{ start_date }}">
    
    <label for="end_date">End Date:</label>
    <input type="date" id="end_date" name="end_date" value="{{ end_date }}">
    
    <button type="submit">Filter</button>
</form>

<!-- Wykres kołowy -->
<div>
    <h3>WinRate Pie Chart</h3>
    <div id="pie-chart-filtered">
        {{ pie_chart_filtered_html|safe }}
    </div>
</div>

<!-- Wykres słupkowy PnL -->
<div>
    <h3>Daily PnL</h3>
    <div id="bar-chart-filtered">
        {{ bar_chart_filtered_pnl_html|safe }}
    </div>
</div>

    <a href="{% url 'dashboard' %}">
        <button type="button">Back to Dashboard</button>
    </a>
    <script src="{% static 'js/filterReports.js' %}"></script>
</body>
</html>
