

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WinRate Reports</title>
    {% load static %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> <!-- Ładowanie Plotly -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}"> <!-- Dodaj link do pliku CSS -->

</head>
<body>
    <h1>WinRate Reports</h1>
    <h3>Performance Calendar</h3>
    <div class="calendar-container">
        <!-- Puste komórki przed dniami z danymi -->
        {% for _ in empty_days_before %}
        <div class="calendar-day empty"></div>
        {% endfor %}
    
        <!-- Dni z danymi -->
        {% for day in daily_data %}
        <div class="calendar-day {% if day.pnl >= 0 %}positive-pnl{% elif day.pnl is None %}empty-day{% else %}negative-pnl{% endif %}">
            <div class="date">{{ day.date }}</div>
            {% if day.pnl is not None %}
                <div class="pnl">PnL: {{ day.pnl }}</div>
                <div class="winrate">Winrate: {{ day.winrate }}%</div>
                <div class="total-trades">Trades: {{ day.total_trades }}</div>
            {% else %}
                <div class="no-trades">No Trades</div> <!-- Szare pole na dni bez tradów -->
            {% endif %}
        </div>
        {% endfor %}
    
        <!-- Puste komórki po dniach z danymi -->
        {% for _ in empty_days_after %}
        <div class="calendar-day empty"></div>
        {% endfor %}
    </div>
    <!-- Total Report -->
    <div>
        <h3>WinRate Report - Total</h3>
        <p>Total number of trades with "YES" or "NO" result: {{ total_report.total_trades }}</p>
        <p>Number of trades with "YES": {{ total_report.yes_count }}</p>
        <p>Number of trades with "NO": {{ total_report.no_count }}</p>
        <p>WinRate: {{ total_report.win_rate }}%</p>
        <p>Average Risk-Reward Ratio (RRR): {{ total_report.avg_rrr }}</p>
        <p>Minimum required WinRate: {{ total_report.min_win_rate }}%</p>
        <p>Is profitable: {{ total_report.is_profitable }}</p>

        <!-- Wykres kołowy dla raportu total -->
        <h4>WinRate Pie Chart</h4>
        <div id="pie-chart-total">
            {{ pie_chart_total_html|safe }}
        </div>

        <div>
            <h3>Daily PnL for the Last 30 Days</h3>
            <div id="bar-chart-daily">
                {{ bar_chart_pnl_html|safe }}
            </div>
        </div>
    </div>

    <!-- Monthly Report -->
    <div>
        <h3>WinRate Report - Monthly</h3>
        <p>Total number of trades with "YES" or "NO" result: {{ monthly_report.total_trades }}</p>
        <p>Number of trades with "YES": {{ monthly_report.yes_count }}</p>
        <p>Number of trades with "NO": {{ monthly_report.no_count }}</p>
        <p>WinRate: {{ monthly_report.win_rate }}%</p>
        <p>Average Risk-Reward Ratio (RRR): {{ monthly_report.avg_rrr }}</p>
        <p>Minimum required WinRate: {{ monthly_report.min_win_rate }}%</p>
        <p>Is profitable: {{ monthly_report.is_profitable }}</p>

        <h4>Monthly WinRate Pie Chart</h4>
        <div id="pie-chart-monthly">
            {{ pie_chart_monthly_html|safe }}
        </div>

    </div>

    <!-- Weekly Report -->
    <div>
        <h3>WinRate Report - Weekly</h3>
        <p>Total number of trades with "YES" or "NO" result: {{ weekly_report.total_trades }}</p>
        <p>Number of trades with "YES": {{ weekly_report.yes_count }}</p>
        <p>Number of trades with "NO": {{ weekly_report.no_count }}</p>
        <p>WinRate: {{ weekly_report.win_rate }}%</p>
        <p>Average Risk-Reward Ratio (RRR): {{ weekly_report.avg_rrr }}</p>
        <p>Minimum required WinRate: {{ weekly_report.min_win_rate }}%</p>
        <p>Is profitable: {{ weekly_report.is_profitable }}</p>

        <h4>Weekly WinRate Pie Chart</h4>
        <div id="pie-chart-weekly">
            {{ pie_chart_weekly_html|safe }}
        </div>

    </div>

    <!-- Daily Report -->
    <div>
        <h3>WinRate Report - Daily</h3>
        <p>Total number of trades with "YES" or "NO" result: {{ daily_report.total_trades }}</p>
        <p>Number of trades with "YES": {{ daily_report.yes_count }}</p>
        <p>Number of trades with "NO": {{ daily_report.no_count }}</p>
        <p>WinRate: {{ daily_report.win_rate }}%</p>
        <p>Average Risk-Reward Ratio (RRR): {{ daily_report.avg_rrr }}</p>
        <p>Minimum required WinRate: {{ daily_report.min_win_rate }}%</p>
        <p>Is profitable: {{ daily_report.is_profitable }}</p>

        <h4>Daily WinRate Pie Chart</h4>
        <div id="pie-chart-daily">
            {{ pie_chart_daily_html|safe }}
        </div>
    </div>

    <a href="{% url 'dashboard' %}">
        <button type="button">Back to Dashboard</button>
    </a>
</body>
</html>
